In [2]:
import pandas as pd
import numpy as np

In [24]:
filepath = "/Users/surajshashidhar/Desktop/NRC-Sentiment-Emotion-Lexicons/NRC-Sentiment-Emotion-Lexicons/NRC-Emotion-Lexicon-v0.92/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt"

emolex_df = pd.read_csv(filepath,  names=["word", "emotion", "association"], skiprows=45, sep='\t')
emolex_df.head(12)

           word       emotion  association
0   abandonment           joy            0
1   abandonment      negative            1
2   abandonment      positive            0
3   abandonment       sadness            1
4   abandonment      surprise            1
5   abandonment         trust            0
6         abate         anger            0
7         abate  anticipation            0
8         abate       disgust            0
9         abate          fear            0
10        abate           joy            0
11        abate      negative            0

In [25]:
emolex_df.emotion.unique()

array(['joy', 'negative', 'positive', 'sadness', 'surprise', 'trust',
       'anger', 'anticipation', 'disgust', 'fear'], dtype=object)

In [26]:
emolex_df[emolex_df.association == 1].emotion.value_counts()

negative        3322
positive        2312
fear            1473
anger           1245
trust           1230
sadness         1189
disgust         1058
anticipation     839
joy              689
surprise         534
Name: emotion, dtype: int64

In [7]:
emolex_df[(emolex_df.association == 1) & (emolex_df.emotion == 'anger')].word

126             abhor
136         abhorrent
226           abolish
256       abomination
586             abuse
             ...
141176       wrongful
141186        wrongly
141426           yell
141456           yelp
141596          youth
Name: word, Length: 1245, dtype: object

In [27]:
emolex_words = emolex_df.pivot(index='word', columns='emotion', values='association').reset_index()
emolex_words.head()

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,abandonment,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,1.0,0.0
2,abate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abatement,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,abba,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [9]:
emolex_words = emolex_words[emolex_words['word'].notna()]

In [10]:
emolex_words.head()

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
1,abandonment,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,1.0,0.0
2,abate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abatement,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,abba,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,abbot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
emolex_words.word.value_counts()

conversing    1
resin         1
morbidity     1
mutant        1
smudge        1
             ..
obtain        1
continuity    1
inbred        1
normality     1
strikingly    1
Name: word, Length: 14177, dtype: int64

In [29]:
emolex_words = emolex_words.fillna(0)
emolex_words.head()

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,abandonment,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,abate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abatement,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,abba,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [33]:
emolex_words[(emolex_words["anger"] == 0.0) & (emolex_words["anticipation"] == 0.0) & (emolex_words["disgust"] == 0)
             & (emolex_words["fear"] == 0) & (emolex_words["joy"] == 0) & (emolex_words["sadness"] == 0) & 
             (emolex_words["surprise"] == 0) & (emolex_words["trust"] == 0)].describe()

emotion,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
count,9718.0,9718.0,9718.0,9718.0,9718.0,9718.000000,9718.000000,9718.0,9718.0,9718.0
mean,0.0,0.0,0.0,0.0,0.0,0.100226,0.107738,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.300317,0.310065,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,1.000000,1.000000,0.0,0.0,0.0

In [16]:
emolex_words.to_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/english_emotions.txt")

In [35]:
gfp = "/Users/surajshashidhar/git/german-emotion-dictionary/fundamental"
df_disgust = pd.read_csv(gfp+"/Ekel.txt",header=None)
df_disgust["emotion"] = "disgust"

df_joy = pd.read_csv(gfp+"/Freude.txt",header=None)
df_joy["emotion"] = "joy"

df_fear = pd.read_csv(gfp+"/Furcht.txt",header=None)
df_fear["emotion"] = "fear"

df_sadness = pd.read_csv(gfp+"/Trauer.txt",header=None)
df_sadness["emotion"] = "sadness"

df_surprise = pd.read_csv(gfp+"/Ueberraschung.txt",header=None)
df_surprise["emotion"] = "surprise"

df_contempt = pd.read_csv(gfp+"/Verachtung.txt",header=None)
df_contempt["emotion"] = "contempt"

df_anger = pd.read_csv(gfp+"/Wut.txt",header=None)
df_anger["emotion"] = "anger"

In [36]:
df_disgust.head()

                  0  emotion
0        Aberration  disgust
1            Abfall  disgust
2     Abgeneigtheit  disgust
3  Abgeschmacktheit  disgust
4         Ablehnung  disgust

In [37]:
res1 = pd.concat([df_disgust,df_joy ,df_fear, df_sadness, df_surprise, df_contempt, df_anger], axis = 0)

In [38]:
res1["association"] = 1
res1.columns = ["word", "emotion", "association"]
res1.reset_index(drop=True, inplace=True)

res1.head()

In [39]:
res1["emotion"].value_counts()

contempt    2139
sadness      658
joy          555
fear         401
surprise     376
anger        336
disgust      271
Name: emotion, dtype: int64

In [40]:
res1.index

RangeIndex(start=0, stop=4736, step=1)

In [41]:
res1.head()

               word  emotion  association
0        Aberration  disgust            1
1            Abfall  disgust            1
2     Abgeneigtheit  disgust            1
3  Abgeschmacktheit  disgust            1
4         Ablehnung  disgust            1

In [42]:
res1.tail()

               word emotion  association
4731         ärgern   anger            1
4732         ätzend   anger            1
4733     übellaunig   anger            1
4734     übelnehmen   anger            1
4735  überschnappen   anger            1

In [29]:
np.where(res1.index.duplicated())

(array([], dtype=int64),)

In [31]:
res1.set_index(['word', 'emotion', 'association'], append=True)

Empty DataFrame
Columns: []
Index: [(0, Aberration, disgust, 1), (1, Abfall, disgust, 1), (2, Abgeneigtheit, disgust, 1), (3, Abgeschmacktheit, disgust, 1), (4, Ablehnung, disgust, 1), (5, Abneigung, disgust, 1), (6, Abscheu, disgust, 1), (7, Abscheulichkeit, disgust, 1), (8, Absonderung, disgust, 1), (9, Abszess, disgust, 1), (10, Abtreibung, disgust, 1), (11, Abwasser, disgust, 1), (12, Abwasserleitung, disgust, 1), (13, After, disgust, 1), (14, Ansteckung, disgust, 1), (15, Antipathie, disgust, 1), (16, Anus, disgust, 1), (17, Arsch, disgust, 1), (18, Ausdünstung, disgust, 1), (19, Ausscheidung, disgust, 1), (20, Aversion, disgust, 1), (21, Bazille, disgust, 1), (22, Blase, disgust, 1), (23, Brechreiz, disgust, 1), (24, Brühe, disgust, 1), (25, Cholera, disgust, 1), (26, Darm, disgust, 1), (27, Degout, disgust, 1), (28, Durchfall, disgust, 1), (29, Eiter, disgust, 1), (30, Eiteransammlung, disgust, 1), (31, Eiterbeule, disgust, 1), (32, Eiterbläschen, disgust, 1), (33, Eiterflechte, disgust, 1), (34, Ekel, disgust, 1), (35, Ekelfleisch, disgust, 1), (36, Ekelgefühl, disgust, 1), (37, Ekelpaket, disgust, 1), (38, Ekzem, disgust, 1), (39, Empyem, disgust, 1), (40, Erbrochenes, disgust, 1), (41, Erreger, disgust, 1), (42, Exkrement, disgust, 1), (43, Ferkel, disgust, 1), (44, Ferkelei, disgust, 1), (45, Fiesling, disgust, 1), (46, Flatulenz, disgust, 1), (47, Fratze, disgust, 1), (48, Furz, disgust, 1), (49, Fäkalien, disgust, 1), (50, Fäule, disgust, 1), (51, Fäulnis, disgust, 1), (52, Gammelfleisch, disgust, 1), (53, Geruchsbelästigung, disgust, 1), (54, Geruchsbildung, disgust, 1), (55, Geschmacklosigkeit, disgust, 1), (56, Geschmeiß, disgust, 1), (57, Gestank, disgust, 1), (58, Graus, disgust, 1), (59, Greuel, disgust, 1), (60, Gräuel, disgust, 1), (61, Gräueltat, disgust, 1), (62, Hautblase, disgust, 1), (63, Horror, disgust, 1), (64, Insekt, disgust, 1), (65, Juckflechte, disgust, 1), (66, Kacke, disgust, 1), (67, Kanalisation, disgust, 1), (68, Kannibale, disgust, 1), (69, Kannibalismus, disgust, 1), (70, Karbunkel, disgust, 1), (71, Karies, disgust, 1), (72, Kot, disgust, 1), (73, Kotzen, disgust, 1), (74, Krebs, disgust, 1), (75, Laus, disgust, 1), (76, Lumpen, disgust, 1), (77, Lumpenhund, disgust, 1), (78, Lumpenkerl, disgust, 1), (79, Mief, disgust, 1), (80, Müll, disgust, 1), (81, Niederträchtigkeit, disgust, 1), (82, Pestfetzen, disgust, 1), (83, Pfui, disgust, 1), (84, Pfuiruf, disgust, 1), (85, Pickel, disgust, 1), (86, Pietätlosigkeit, disgust, 1), (87, Plempe, disgust, 1), (88, Plörre, disgust, 1), (89, Pustel, disgust, 1), (90, Pustula, disgust, 1), (91, Ratte, disgust, 1), (92, Rosette, disgust, 1), (93, Sauerei, disgust, 1), (94, Scheiße, disgust, 1), (95, Scheusal, disgust, 1), (96, Scheusäler, disgust, 1), (97, Scheußlich, disgust, 1), (98, Scheußlichkeit, disgust, 1), (99, Schimmel, disgust, 1), ...]

[4736 rows x 0 columns]

In [44]:
# https://stackoverflow.com/questions/49080143/python-find-duplicates-across-multiple-columns
res1[res1.duplicated(['word', 'emotion', 'association'],keep=False)]

      word   emotion  association
3379  doof  contempt            1
3380  doof  contempt            1

In [45]:
res1

                  word  emotion  association
0           Aberration  disgust            1
1               Abfall  disgust            1
2        Abgeneigtheit  disgust            1
3     Abgeschmacktheit  disgust            1
4            Ablehnung  disgust            1
...                ...      ...          ...
4731            ärgern    anger            1
4732            ätzend    anger            1
4733        übellaunig    anger            1
4734        übelnehmen    anger            1
4735     überschnappen    anger            1

[4736 rows x 3 columns]

In [48]:
# https://stackoverflow.com/questions/32093829/pythonpandas-removing-duplicates-based-on-two-columns-keeping-row-with-max-va
res1.drop_duplicates(['word','emotion'],keep= 'last', inplace=True)

In [49]:
res = res1.pivot(index="word", columns='emotion', values='association').reset_index()
res.head()

emotion        word  anger  contempt  disgust  fear  joy  sadness  surprise
0          Aasgeier    NaN       1.0      NaN   NaN  NaN      NaN       NaN
1         Abbrechen    NaN       NaN      NaN   NaN  NaN      1.0       NaN
2        Aberration    NaN       NaN      1.0   NaN  NaN      NaN       NaN
3          Aberwitz    NaN       1.0      NaN   NaN  NaN      NaN       NaN
4            Abfall    NaN       NaN      1.0   NaN  NaN      NaN       NaN

In [50]:
res = res.fillna(0)
res.head()

emotion        word  anger  contempt  disgust  fear  joy  sadness  surprise
0          Aasgeier    0.0       1.0      0.0   0.0  0.0      0.0       0.0
1         Abbrechen    0.0       0.0      0.0   0.0  0.0      1.0       0.0
2        Aberration    0.0       0.0      1.0   0.0  0.0      0.0       0.0
3          Aberwitz    0.0       1.0      0.0   0.0  0.0      0.0       0.0
4            Abfall    0.0       0.0      1.0   0.0  0.0      0.0       0.0

In [51]:
res.to_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/german_emotions.txt")

In [3]:
df = pd.read_csv("/Users/surajshashidhar/Desktop/NRC-Sentiment-Emotion-Lexicons/German-de-NRC-Emotion-Intensity-Lexicon-v1.txt", 
                header = 0, sep = "\t")

In [5]:
df.head()

        word      German-de emotion  emotion-intensity-score
0   outraged         empört   anger                    0.964
1  brutality     Brutalität   anger                    0.959
2     hatred           Hass   anger                    0.953
3    hateful    hasserfüllt   anger                    0.940
4  terrorize  terrorisieren   anger                    0.939

In [6]:
df.describe()

       emotion-intensity-score
count              9926.000000
mean                  0.500160
std                   0.190639
min                   0.000000
25%                   0.367000
50%                   0.500000
75%                   0.633750
max                   0.986000

In [7]:
df = df[df["German-de"] != "NO TRANSLATION"]
df.describe()

       emotion-intensity-score
count              9449.000000
mean                  0.501451
std                   0.189708
min                   0.000000
25%                   0.375000
50%                   0.500000
75%                   0.633000
max                   0.986000

In [8]:
df['emotion-intensity-score'] = 1

/Users/surajshashidhar/anaconda3/envs/nlp_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df.head()

        word      German-de emotion  emotion-intensity-score
0   outraged         empört   anger                        1
1  brutality     Brutalität   anger                        1
2     hatred           Hass   anger                        1
3    hateful    hasserfüllt   anger                        1
4  terrorize  terrorisieren   anger                        1

In [16]:
df[df.duplicated(['German-de', 'emotion'],keep=False)]

            word German-de emotion  emotion-intensity-score
0       outraged    empört   anger                        1
2         hatred      Hass   anger                        1
5      violently    heftig   anger                        1
6     infuriated    wütend   anger                        1
7        furious    wütend   anger                        1
...          ...       ...     ...                      ...
9779        pith      Mark   trust                        1
9842     zealous    eifrig   trust                        1
9878      reject  ablehnen   trust                        1
9899       doubt   Zweifel   trust                        1
9914      doubts   Zweifel   trust                        1

[1717 rows x 4 columns]

In [17]:
df = df[["German-de", "emotion", "emotion-intensity-score"]]

In [18]:
df.drop_duplicates(['German-de','emotion'],keep= 'last', inplace=True)

/Users/surajshashidhar/anaconda3/envs/nlp_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df[df.duplicated(['German-de', 'emotion'],keep=False)]

Empty DataFrame
Columns: [German-de, emotion, emotion-intensity-score]
Index: []

In [20]:
de_emolex_words = df.pivot(index='German-de', columns='emotion', values='emotion-intensity-score').reset_index()
de_emolex_words.head()

emotion,German-de,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,Aal,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,Abakus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,Abdeckung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,Abenteuer,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
4,Aberglaube,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [21]:
de_emolex_words = de_emolex_words[de_emolex_words['German-de'].notna()]

In [22]:
de_emolex_words = de_emolex_words.fillna(0)
de_emolex_words.head()

emotion,German-de,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,Aal,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,Abakus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Abdeckung,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Abenteuer,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,Aberglaube,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [23]:
de_emolex_words.describe()

emotion,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
count,4734.000000,4734.000000,4734.000000,4734.000000,4734.000000,4734.000000,4734.000000,4734.000000
mean,0.259611,0.169624,0.197507,0.318335,0.221166,0.241656,0.113857,0.271018
std,0.438468,0.375342,0.398160,0.465880,0.415076,0.428132,0.317671,0.444532
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [35]:
de_emolex_words.columns = ['word', 'anger', 'anticipation', 'disgust', 'fear', 'joy',
       'sadness', 'surprise', 'trust']

In [36]:
de_emolex_words.head()

,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,Aal,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,Abakus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Abdeckung,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Abenteuer,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,Aberglaube,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [37]:
de_emolex_words.to_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/german_emotions.txt", 
                    index = False)

In [38]:
df1 = pd.read_excel(io="/Users/surajshashidhar/git/fiction/Final_Booklist.xlsx", sheet_name="Final_Booklist",header=0)

In [39]:
df1.head()

,bid,bname,blang,auth_id,auth_name,sid,sub,cat
0,78,Tarzan of the Apes,en,2429,"Burroughs, Edgar Rice",79,Adventure,LCSH
1,81,The Return of Tarzan,en,2429,"Burroughs, Edgar Rice",79,Adventure,LCSH
2,85,The Beasts of Tarzan,en,2429,"Burroughs, Edgar Rice",79,Adventure,LCSH
3,90,The Son of Tarzan,en,2429,"Burroughs, Edgar Rice",79,Adventure,LCSH
4,92,Tarzan and the Jewels of Opar,en,2429,"Burroughs, Edgar Rice",79,Adventure,LCSH

In [43]:
book_dict = df1.to_dict(orient="list")
print(book_dict["bid"][1:5])

[81, 85, 90, 92]

In [46]:
book_lang_dict = {}
for pgid, lang in list(zip(book_dict["bid"], book_dict["blang"])):
    #print("pgid is: {}, language is: {}".format(pgid, lang))
    book_lang_dict["pg" + str(pgid)] = [pgid, lang]

In [47]:
book_lang_dict["pg8694"]

[8694, 'en']

In [54]:
english_emotions_df = pd.read_csv( "/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/english_emotions.txt", header = 0)
german_emotions_df = pd.read_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/german_emotions.txt", header = 0)

In [55]:
english_emotions_df.drop(["Unnamed: 0", "negative", "positive"], axis = 1, inplace = True)
print(english_emotions_df.head())
german_emotions_df.head()

          word  anger  anticipation  disgust  fear  joy  sadness  surprise  \
0  abandonment    0.0           0.0      0.0   0.0  0.0      1.0       1.0
1        abate    0.0           0.0      0.0   0.0  0.0      0.0       0.0
2    abatement    0.0           0.0      0.0   0.0  0.0      0.0       0.0
3         abba    0.0           0.0      0.0   0.0  0.0      0.0       0.0
4        abbot    0.0           0.0      0.0   0.0  0.0      0.0       0.0

   trust
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0

,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,Aal,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,Abakus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Abdeckung,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Abenteuer,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,Aberglaube,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [56]:
all_lang_emotions_df = pd.concat([english_emotions_df, german_emotions_df], axis=0)
all_lang_emotions_df.head()

,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,abandonment,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,abate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,abatement,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,abbot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [57]:
all_lang_emotions_df.describe()

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
count,18911.000000,18911.000000,18911.000000,18911.000000,18911.000000,18911.000000,18911.000000,18911.000000
mean,0.130823,0.086828,0.105388,0.157580,0.091798,0.123367,0.056739,0.132886
std,0.337216,0.281590,0.307061,0.364357,0.288749,0.328867,0.231350,0.339460
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [58]:
all_lang_emotions_df.to_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/all_language_emotions.csv", index = False)

In [59]:
df = pd.read_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/all_language_emotions.csv", header = 0)

In [60]:
df.head()

,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,abandonment,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,abate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,abatement,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,abba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,abbot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [62]:
df[df.duplicated(['word'],keep=False)].head(100)

,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
20,abnormal,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
36,abrupt,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
55,absurd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328,ail,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
733,arrogant,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
18435,unfair,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
18547,veer,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
18549,vehement,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18762,wild,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
18776,wot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [63]:
df.drop_duplicates(['word'],keep= 'last', inplace=True)

In [64]:
df.to_csv("/Users/surajshashidhar/Desktop/ovgu/semester_2/XAI_project/reasearched_code_and_data/all_language_emotions.csv", index = False)